.container{
  max-width: 640px;
  align-content: center;
  padding-bottom: 20px;
  padding-top: 20px;

  border: 2px;
}
.progress-bar {
  padding: 0;
}
.progress {
  width: 50px;
}
#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}
.mat-toolbar-single-row button {
  width: 100px;
}
.mat-form-field {
  width: 100%;
}
.message {
  background-color: #ddd;
  padding: 5px;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 54px;
  margin-bottom: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
