
<div class="container">
<mat-vertical-stepper [linear] = "isLinear" #stepper>
  <mat-step [stepControl] = "formulario1">
     <form [formGroup] = "formulario1" #formone="ngForm">

        <ng-template matStepLabel>Dados Básicos</ng-template>
        <mat-form-field>
           <input matInput placeholder = "Nome Completo" formControlName = "nome" name = "nome"  required>
        </mat-form-field>
        <div>
        <mat-form-field>
          <mat-label>Selecione o Perfil</mat-label>
          <mat-select   formControlName = "perfil" name="perfil">
            <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
              {{perfil.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
     </form>
  </mat-step>

  <mat-step [stepControl] = "formulario2" >
    <form [formGroup] = "formulario1"   #formone="ngForm">

       <ng-template matStepLabel>Salário</ng-template>
       <mat-form-field>
         <input matInput placeholder = "Pretensão salarial" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" formControlName = "salario"  name = "salario"  required>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious>Anterior</button>
         <button mat-button matStepperNext>Próximo</button>
       </div>
    </form>
 </mat-step>
 <mat-step [stepControl] = "formulario3">
  <form [formGroup] = "formulario1"  #formone="ngForm">
     <ng-template matStepLabel>Curriculo</ng-template>

      <mat-toolbar *ngIf="currentFile" class="progress-bar">
        <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
        <span class="progress-bar">{{ progress }}%</span>
      </mat-toolbar>
      <mat-form-field>

          <mat-toolbar>
            <input matInput  [value]="fileName"   placeholder = "envie seu curriculum"  name="anexo" required />
            <button
              mat-flat-button
              color="primary"
              [disabled]="!currentFile"
              (click)="upload();  "
            >
              Upload
            </button>
          </mat-toolbar>
          <input
            type="file"
            formControlName = "anexo"
            id="fileInput"
            (change)="selectFile($event)"
            name="fileInput"
            required
          />

      </mat-form-field>

    <div *ngIf="message" class="message">
      {{ message }}
    </div>

     <div>
       <button mat-button matStepperPrevious>Anterior</button>
       <button mat-button matStepperNext>Próximo</button>
     </div>

  </form>
</mat-step>
 <mat-step >

     <ng-template matStepLabel>Feito</ng-template>

     <div >
       <button mat-button type="button" (click)="adicionarCandidato(); cadastrarVaga();" [disabled]="formulario1.invalid" >salvar</button>
       <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click) = "stepper.reset()">Reiniciar</button>

     </div>
  </mat-step>

</mat-vertical-stepper>

</div>
